<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kinetiqa.glacier" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo.NoActionBar"
        android:label="@string/app_name" >
        <activity
            android:name=".ui.Initialize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Setup"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.Home"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.MediaDocument"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MediaVideo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MessageViewer"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.Settings"
            android:screenOrientation="landscape" />

        <service android:name=".core.connection.service.BackgroundSyncService" >
        </service>

        <receiver android:name=".core.connection.receiver.AlarmReceiver" >
        </receiver>
    </application>

</manifest>
